<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/public/css/error.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main class="main not_found_background">
        <h1 class="text-center">Page Not Found!</h1>
    </main>

<%- include('includes/end.ejs') %>