.not_found_background {
  background-image: url('/public/images/main-images/error_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  position: fixed;
  z-index: -1000;
}
