.login_background {
    background-image: url('/images/login_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    position: fixed;
    z-index: -1000;
}

.signup_background {
    background-image: url('/images/signup_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    position: fixed;
    z-index: -1000;
}

.addProduct_background {
    background-image: url('/images/addProduct_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    position: fixed;
    z-index: -1000;
}

.form-action {
    width: 430px;
    background-color: rgba(51, 26, 21, 0.7);
    border: 1px solid #fff;
    border-radius: 3px;
}