.home__background {
    background-image: url('/public/images/main-images/homepage_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    position: fixed;
    z-index: -1000;
}

.desc {
    height: 100%;
    user-select: none;
    text-shadow: 2px 2px 4px #000000;
}

.desc h1 {
    color: #fff;
}

.desc p {
    color: #fff;
    font-size: 18px;
}

.text {
    user-select: none;
    text-shadow: 2px 2px 4px #000000;
}

.carousel-caption {
    position: static;
    padding: 16px 8px 16px;
    background-color: transparent;
    color: #fff;
    min-height: 125px;
    width: 85%;
    user-select: none;
    text-shadow: 2px 2px 4px #000000;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 5%;
}


.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}

.opening-hours {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    user-select: none;
    text-shadow: 2px 2px 4px #000000;
}