.home__background {
    background-image: url('/public/images/main-images/homepage_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    position: fixed;
    z-index: -1000;
}

.desc {
    height: 100%;
    user-select: none;
    text-shadow: 2px 2px 4px #000000;
}

.desc h1 {
    color: #fff;
}

.desc p {
    color: #fff;
    font-size: 18px;
}

.text {
    user-select: none;
    text-shadow: 2px 2px 4px #000000;
}

.logo-img {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: -10px 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.opening-hours {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    user-select: none;
    text-shadow: 2px 2px 4px #000000;
}