* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

:root {
  --main-color: #331a15;
  --sub-color: #4f1016;
  --navbar-height: 84.35px
}

.main {
  margin-top: var(--navbar-height);
}

.navbar_config {
  background-color: var(--main-color); 
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 2px solid #000000;
  z-index: 10000 !important;
}

.nav-item:hover {
  opacity: 0.7;
}

.nav-item form .btn:hover {
  background-color: var(--sub-color);
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.title{
  color: #F5DEB3;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}

.img-logo {
  width: 120px;
}

.my_btn {
  width: 170px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
}

.logout-item:hover {
  opacity: 1 !important;
}

.logout_btn {
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
}

.my_btn:hover,
.logout_btn:hover {
  background-color: var(--sub-color);
}

.user-message {
  margin: auto;
  width: 45% !important;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
} 

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}

.form-control.invalid,
.form-control.invalid {
  border: 2px solid red;
}

.active>.page-link {
  background-color: var(--sub-color) !important;
  border-color: #fff !important;
}

.page-link {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  font-size: 18px !important;
}

.page-link:hover {
  background-color: var(--sub-color) !important;
}

.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(51, 26, 21, 0.4) !important;
}