<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="main">
            <div class="home__background"></div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-5">
                        <div class="desc mt-5 d-flex flex-column justify-content-center">
                            <h4 class="title mb-3">Welcome to Anteiku</h4>
                            <h1 class="my-2">Keep your dreams aroused with a cup of coffee.</h1>
                            <p class="my-5">The coffee ideas shared by these generators are not
                                cool at all, as they are not a human being.
                            </p>
                            <p class="mt-5">Contact Us<br>
                                Phone: 036****286 <br>
                                Email: anteiku@coffee.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7 my-5">
                        <div id="carouselExampleInterval" class="carousel slide pt-5 mt-3 h-50" data-bs-ride="carousel">
                            <div class="carousel-inner">
                        
                                <div class="carousel-item active" data-bs-interval="4000">
                                    <div class="d-flex justify-content-center">
                                        <div class="carousel-caption text-center">
                                            <h4>"The only limit to our realization of tomorrow is our doubts of today."</h4>
                                            <p>- Franklin D. Roosevelt</p>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="carousel-item" data-bs-interval="4000">
                                    <div class="d-flex justify-content-center">
                                        <div class="carousel-caption text-center">
                                            <h4>"Success is not final, failure is not fatal: It is the courage to continue that counts."</h4>
                                            <p>- Winston Churchill</p>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="carousel-item" data-bs-interval="4000">
                                    <div class="d-flex justify-content-center">
                                        <div class="carousel-caption text-center">
                                            <h4>"In the end, we will remember not the words of our enemies, but the silence of our friends."</h4>
                                            <p>- Martin Luther King Jr.</p>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                            
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <div class="opening-hours mt-5 d-flex flex-column align-items-center">
                            <h3 class="title">opening hours</h3>
                            <p>Mon - Fri: 8:00 AM - 10:00 PM</p>
                            <p>Sat - Sun: 7:00 AM - 12:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
<%- include('../includes/end.ejs') %>
