<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="main">
            <div class="home__background"></div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-5">
                        <div class="desc mt-5 d-flex flex-column justify-content-center">
                            <h4 class="title mb-3">Welcome to Anteiku</h4>
                            <h1 class="my-2">Keep your dreams aroused with a cup of coffee.</h1>
                            <p class="my-5">The coffee ideas shared by these generators are not
                                cool at all, as they are not a human being.</p>
                            <form action="/menu" method="GET">
                                <button type="submit" class="my_btn text-white border">Delivery!</button>
                            </form>
                            <p class="mt-5">Contact Us<br>
                                Phone: 036****286 <br>
                                Email: anteiku@coffee.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        
                                    
                    </div>
                </div>
            </div>
        </main>
<%- include('../includes/end.ejs') %>
