<%- include('../includes/head.ejs') %>
</head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="main">
            
        </main>
<%- include('../includes/end.ejs') %>